@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Los estilos se aplican a todo el documento */
body {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3),  rgba(136, 164, 172, 0.3) ),
    url()
    

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
        
}

.social-icon{
    width: 32px;
}

.sobre-mi{
    max-width: 800px;
    border-style:solid;
    border-radius: 20px;
    border-width: 1px;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8),  rgba(136, 164, 172, 0.3) ) 
}


.sobre-mi h2{
    text-align: center;
}

.sobre-mi img {
    border-radius: 50%;
    width: 150px;

}